</div>
<footer>
    <div id="item1">
        <div>Send F37 an Email</div>
        <div>Send F37 an Email</div>
        <div>Send F37 an Email</div>
        <div>Send F37 an Email</div>
    </div>
    <div id="item2">
        <div>On Twitter</div>
        <hr>
        <div>On Facebook</div>
        <hr>
        <div>On Instagram</div>
        <hr>
    </div>
    <div id="item3">Copyright © DUC VU 2019</div>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
