<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <h1>About me</h1>
            <br><br>
            <h3><em>  " - Ich brauche dich. </em></h3>
            <h3><em>    - Cool. Ich brauche Geld. "</em></h3>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
